/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.nav, .jumbotron h1, .navbar-header{
	font-family: 'Arvo', courier, serif;
}

#get-involved {
  background-color: #f5f5f5;
}

.autocomplete-suggestion, .autocomplete-disabled{
	line-height: 110%;
	padding: 5px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.col-nomargins{
	margin: 0 auto;
}

.wide{
	margin-left: 10px;
	margin-right: 10px;
}

.more-margins{
	margin-top: 10px;
	margin-bottom: 10px;
}

.jumbotron {
  text-align: center;
  background-image: url("../images/hero_image.jpg");
  color: white;
}

.jumbotron h1 {
  margin-top: 0px;
  margin-bottom: 60px;
}

.jumbotron p {
  margin-bottom: 30px;
  font-weight: 100;
  padding: 0 50px;
}

.btn-lg {
  font-size: 36px;
}

.homepage {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.homepage h2, .homepage h3, .homepage h4, .data-container h3 {
  font-family: 'Arvo', courier, serif;
  color: #e74c3c;
  /* text-transform: uppercase; */
}

.homepage h2 {
  font-size: 30px;
}

.homepage h3 {
  font-size: 26px;
}
.homepage h4 {
  font-size: 21px;
  text-align: left;
  font-weight: bold;
}
.homepage h5 {
  font-family: 'Arvo', courier, serif;
  font-size: 21px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}
.homepage h6 {
  font-family: 'Arvo', courier, serif;
  font-size: 21px;
  text-align: left;
  font-weight: bold;
}

.data-container h3 {
  font-size: 26px;
  text-align: center;
}

.homepage p {
  font-size: 21px;
  font-weight: 300;
}

.homepage li{
  font-size: 21px;
  font-weight: 300;
  text-align: left;
}

.homepage a {
  color: #e74c3c;
}

.homepage a:hover {
  color: #e74c3c;
  text-decoration: none;
  opacity: .8;
}

.homepage hr {
  border-top: 1px solid #e74c3c;
  width: 150px;
  margin-top: 15px;
}

.homepage table {
  background-color: #FFFFFF;
}

.navbar-custom a{
    color: #e74c3c;
}
.navbar .nav > li > a {
    line-height: 17px;
    color:  #e74c3c;
}
.navbar .navbar-header > a {
    line-height: 17px;
    color:  #e74c3c;
}

.data-container {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}

.defaultLinks a {
	color: #337ab7;
}

.defaultLinks a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
  cursor:pointer;
}
.biggertext {
  font-size: 21px;
}
.smalltext {
  font-size: 14px;
}
.centered {
	align: center;
}

/* .select2-container,
.select2-drop,
.select2-search,
.select2-search smallfont {
  font-size: 14px;
} */

select {
  vertical-align: top;	
}

.selectize-dropdown, .selectize-input, .selectize-input { 
  font-size: 14px; 
}

.highlight {
	background-color: #FFFF00;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#visibleonload {
	display: none;
}
.location {
    padding-top: 70px;
    margin-top: -70px;
}

.right {
	text-align: right;
}


.dl-horizontal{
	padding: 10px;
	background-color:white;
  	border: 1px solid #e3e3e3;
}
.dl-horizontal-main{
  	border: 1px solid #e3e3e3;
}
.annotationHeader{
	cursor: pointer;
}
@media (min-width: 768px) {
.annotations dt 
{
    width: 180px; 
}
.annotations dd 
{
    margin-left: 200px;
}
.annotations dd > dl {
	position: relative;
	top: -24px;
	padding: 0px;
	clear: both;
	display: table;
	margin-bottom: -24px;
}
.classification dd {
    margin-left: 120px;
}
.classification dt {
    width: 110px; 
	display: inline;
}
.admet dd {
    margin-left: 300px;
}
.admet dt {
    width: 290px; 
	display: inline;
}
.header dt 
{
    width: 190px; 
}
.header dd 
{
    margin-left: 210px; 
}}
.annotations dd{
	margin-bottom: 8px;
}
.highlightedLink{
	color: #18ce20;
}
.highlightedLink:hover, .highlightedLink:focus {
  color: #29f91d;
  text-decoration: underline;
}


.myForm > .data-container > .nav-pills > li > a{
  border-radius: 4px 4px 0 0;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}
.myForm > .data-container > .nav-pills > .active > a{
  background-color: #f5f5f5;
  color: #e74c3c;
  border-bottom-color: #f5f5f5;
  opacity: 1;
  cursor: default;
}
.myForm > .data-container > .tab-content {
  background-color: #f5f5f5;    
  padding: 24px;
  border-radius: 0 0 6px 6px;
  border: 1px solid #e3e3e3;
  border-top: 0px;
}
.msa{
  background-color:white; 
  padding:20px;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
}
.grey{
  color: #93a7c1;
  -webkit-text-fill-color: #AAA;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.yellow{
  color: #eacd23;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}
.fileInputDiv > .dd:before{
	content: None;
}