{% extends "base.html" %}
{% block title %}RepurposeDB | Browse Drugs{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <div class="container homepage">
        <h2>Browse Drugs</h2>
        <hr>
      		<p align=center>Please click on the alphabet below to browse the drugs by letter</p>
    </div>
    <div class="container">
      	<div class="row" style="text-align:center">
      		<hr color = "silver">
	        <ul class="pagination" >
	        {% for alph in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','Other'] %}
	        	{% if letter == alph %}
	        		<li class="active"><span>{{alph}}</span></li>
	        	{% elif alph in emptyLetters  %}
	        		<li class="disabled"><span>{{alph}}</span></li>
	        	{% else %}
	        		<li><a href="{{url_for('browseDrugs')}}{{alph}}/1">{{alph}}</a></li>
	        	{% endif %}
			{% endfor %}
	        </ul>
        </div>
    </div>
    {% if letter %}
    {% if results %}
    <div class="container">
      	<div class="row">
      		<hr color = "silver">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <p align=center>
	        	<table class="table table-hover">
              	
              	<thead>
              		<tr>
              			{% for col in header %}
	    					<th>{{col}}</th>
              			{% endfor%}
    				</tr>
  				</thead>
              	<tbody>
              		{% for entry in results[PER_PAGE*(page-1):(PER_PAGE*page)] %}
              			<tr>
							<td><a href="{{url_for('drug', id = entry[0])}}">{{entry[0]}}</a></td>
							<td>{{entry[1][0].upper() + entry[1][1:]}}</td>
							{% if 'PubChem:' in entry[2][0:8] %}
								<td><a href=http://pubchem.ncbi.nlm.nih.gov/compound/{{entry[2][9:]}}>{{entry[2]}}</a></td>
              				{% elif 'CHEMBL' in entry[2][0:6] %}
              					<td><a href=https://www.ebi.ac.uk/chembl/compound/inspect/{{entry[2]}}>{{entry[2]}}</a></td>
              				{% else %}
              					<td><a href=http://www.drugbank.ca/drugs/{{entry[2]}}>{{entry[2]}}</a></td>
              				{% endif %}
              				<td>{{entry[3]}}</td>
              				{% for col in entry[4:8] %}<td>
              					{% for disease in expand(col) %}
	              					{% if disease %}
									<a href={{url_for('disease', id = diseaseIDLookup[disease])}}>{{disease[0].upper() +disease[1:] if loop.index==1 else disease}}{% if loop.index != expand(col)|length %};{% endif %}</a>
									{% endif %}
								{% endfor %}</td>
							{% endfor %}
              				<td>
              				{% for source in expand(entry[8]) %}
	              				{% if 'FDA' in source %}
								<form action="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" method="post" name="displaysearch" style="margin-bottom:0px">
									<a href="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" class="submitbutton">{{source}}{% if loop.index != expand(entry[8])|length %};{% endif %}</a>
		   							<input type="Hidden" name="fuseaction" value="Search.SearchAction">
	                                <input type="Hidden" name="SearchType" value="BasicSearch" />
	                                <input type="Hidden" name="searchTerm" id="searchTerm" maxlength="250" size="30" value="{{entry[1]}}"/>
								</form>
								{% else %}
								<a href={{url_for_pubmed(entry)}} >{{source}}{% if loop.index != expand(entry[8])|length %};{% endif %}</a>
								{% endif %}
							{% endfor %}
							</td>
						</tr>
              		{% endfor %}
  				</tbody>
              </table>
              {% if pagination %}
              <div style = "text-align:center">
			  	<ul class="pagination">
				  	{% if pagination.has_prev %}
				    	<li><a href="{{url_for_other_page(pagination.page-1)}}">&laquo;</a></li>
				  	{% endif %}
				  	{% for next_page in pagination.iter_pages() %}
				    	{% if next_page %}
				      		{% if next_page != pagination.page %}
				        		<li><a href="{{url_for_other_page(next_page)}}">{{ next_page }}</a></li>
				      		{% else %}
				        		<li class = "active"><a>{{ next_page }}</a></li>
				      		{% endif %}
				    	{% else %}
				      		<li><span class=ellipsis>…</span></li>
				    	{% endif %}
				  	{% endfor %}
				  	{% if pagination.has_next %}
				    	<li><a href="{{url_for_other_page(pagination.page + 1)}}">&raquo;</a></li>
				  	{% endif %}
			  	</ul>
			  </div>
              {% endif %}
	        </div> 
        </div>
    </div>
    {% else %}
    <div class="container">
      	<div class="row">
      		<hr color = "silver">
    		<p align=center>There are no results to show here.</p>
    	</div>
    </div>
    {% endif %}
    {% endif %}
      

{% endblock %}