{% extends "base.html" %}
{% block title %}RepurposeDB | Contact Us{% endblock %}
{% block content %}

    <div class="container homepage">
        <h2>Contact Us</h2>
        <hr>
		<div class="row data-container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-lg">
	           <form action="{{url_for('contact')}}" method="POST" enctype="multipart/form-data">
			 	{{ form.csrf_token }} 
	           	<p>How can we help?
		           {{ render_field(form.topic, class="form-control", placeholder="Please select a topic") }}
	           	</p>
	           	<p>Your email:
		           {{ render_field(form.email, class="form-control") }}
	           	</p>
	           	<p>Please describe your issue.
		           {{ render_field(form.issue, class="form-control") }}
	           	</p>
	           	<div class = 'col-center'>
	           	{{ render_field(form.recaptcha) }}
	           	</div>
	           	<br>
			    <div class="row">
			        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	           			<button type="submit" class="btn btn-default btn-block">Send</button>
	           		</div>
	           	</div>
	           </form>
	    	</div>
        </div>
    </div>
{% endblock %}