{% extends "base.html" %}
{% block title %}RepurposeDB | MIADRI{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/selectize.bootstrap3.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/selectize.min.js')}}"></script>
<script>
$(document).ready($(function () {
	  $('[data-toggle="tooltip"]').tooltip({html: true})
	}))
</script>
{% endblock %}
{% block content %}
<div class="container homepage">
    <div class="container">
    <h2>Minimum Information About Drug Repositioning Investigations - MIADRI</h2>
    	<hr>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: right; margin: 0px 0px 0px 0px;">
	            <img src="{{url_for('static', filename='images/figures/MIADRI.png')}}" class="img-responsive thumbnail"></img>
   			</div>
    	<p align=justify>Drug repositioning offers a cost-effective, accelerated and effective strategy for 
    	pharmaceutical companies and discovery driven treatment options for patients. Focused 
    	clinical trials may be required to re-validate the use of repurposed indications. 
    	Ancillary techniques of repositioning including reformulation strategies (altered 
    	dosage, drug combinations, mode of delivery) can help to identify better therapeutic 
    	interventions for complex and orphan diseases alike. Repositioning investigations can 
    	also reveal serendipitous examples where a prior clinical, comorbidities, shared pathway, 
    	or other biological evidence does not exist. Such off-target or poly pharmacology drove 
    	results can be further perturbed using controlled experiments to understand shared disease 
    	pathways. The future outlook of drug repositioning is promising for patient communities, 
    	translational researchers and the pharmaceutical industry. Patient communities will 
    	greatly benefit from drug repositioning as it provides accelerated treatment strategies 
    	with limited side effects in a short period compared to the traditional drug development 
    	life cycle. Understanding clinical representations and their molecular phenotype is key 
    	for translational research and enabling precision medicine. Tracking the mechanism of 
    	actions for new indications could also help in understanding themolecular basis of genetic, 
    	complex, chronic or rare diseases. Pharmaceutical companies could leverage their large 
    	repertoires of public and private compound libraries in search of molecules that can provide 
    	better secondary indications and primary indications for rare diseases.  The absence of a 
    	common, community standard in reporting, aggregating, and dissemination data standard is 
    	hindering knowledge dissemination of drug repositioning and new therapeutic indications of 
    	existing pharmaceutical agents. We introduce Minimum Information About Drug Repositioning 
    	Investigations (MIADRI). MIADRI is a new standard for indexing, aggregation and meta-analyses 
    	of drug repositioning investigations. We are using MIADRI as a standard data submission and 
    	data-model to submit new drug repositioning investigations to RepurposeDB. We are actively 
    	developing MIADRI; please contact us if you have any feedback to improve the standard. You 
    	can use the MIADRI submission form below to submit your drug repositioning investigation. 
    	</p><br>
    	<div id="contribute" class="location"></div>
    	<h2>Submit to RepurposeDB</h2>
    	<hr>
			<form action="{{url_for('MIADRI')}}#contribute" method="POST" enctype="multipart/form-data">
			 	{{ form.csrf_token }} 
				<div class="row data-container">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-lg"><!-- <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-centered well well-lg"> -->
					{% if request.method == 'POST' %}
						<div class="largertext" style="color:red;">There were errors in your submission</div>
					{% endif %}
					<p>Generic name of the compound:
						<span data-toggle="tooltip" data-placement="right" title="A common chemical name or the brand name of the repositioned compound">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span>
					{{ render_field(form.compoundName, class="form-control", placeholder="ex: acetomenophin") }}
			        </p><br>
			        
					<p>Compound Identifiers:
						<span data-toggle="tooltip" data-placement="right" title="RepurposeDB accepts a variety of compound identifiers as part of MIADRI standardization including identifiers from DrugBank, CheBI, PubChem22 and FDA.">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span>
						{{ render_field(form.compoundIdentifiers, class="form-control", placeholder="ex: DrugBank, ChEMBL, CHEI, PubChem, FDA") }}
					</p><br>
			       
					<div class ="biggertext">FDA Approval:
						<span data-toggle="tooltip" data-placement="right" title="Please provide a link to the approval status of the drug for rare or common disease indications.">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span></div>
						{% for subfield in form.approval %}
							<div class="smalltext">{{ subfield }} {{ subfield.label(style="font-weight: normal") }}</div>
						{% endfor %}
						{% if form.approval.errors %}
							<ul id="errors" class="errors">
								{% for error in form.approval.errors %}
								 	<li style="color:red">{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						<br>
			        
			        
			        
			        <p>Primary Indication:
						<span data-toggle="tooltip" data-placement="right" title="Disease name or use the human phenotype ontology (HPO)23  or disease ontology (DO)24 terms can be used to define the primary disease for which the drug is approved.">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span>
						{{ render_field(form.primaryIndicationText, class="form-control", placeholder="ex: doid:0001816 angiosarcoma") }}
			        </p>
						{{ form.primaryIndicationSelect(class="annotation-lookup smalltext", placeholder="Optional: Select Ontologies") }}
		         	<br>
		         	
			        <p>Secondary Indications:
						<span data-toggle="tooltip" data-placement="right" title="Standard clinical terms, HPO terms or DO terms can be used to define the secondary disease for which the drug is repositioned in the current study.">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span>
						{{ render_field(form.secondaryIndicationText, class="form-control", placeholder="ex: doid:0001816 angiosarcoma") }}
			        </p>
						{{ form.secondaryIndicationSelect(class="annotation-lookup smalltext", placeholder="Optional: Select Ontologies") }}
			        <br>
			        
			        
			        <div class ="biggertext">Evidence:
						<span data-toggle="tooltip" data-placement="right" title="Computational or experimental strategy used to conduct the drug repositioning investigations can be selected here.">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span></div>
			        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 20px">
  						{{render_field(form.experimentalEvidence)}}
			        	{{render_field(form.computationallyRepurposedEvidence)}}
					</div>
			        
			        
			        <div class ="biggertext">Validation:
						<span data-toggle="tooltip" data-placement="right" title="Evidence from validation experiments using clinical trials or EHR based validation can be provided.">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span></div>
			        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 20px">
  						{{render_field(form.clinicalValidation)}}
			        	{{render_field(form.ehrBasedValidation)}}
					</div>
			        
			        <p>References:
						<span data-toggle="tooltip" data-placement="right" title="All associated publications can be submitted using the PubMed identifiers (PMIDs)">
			              <i class="fa fa-question-circle" style="color:#487dbe"></i>
			            </span>
			        {{ render_field(form.references, class="form-control") }}
			        </p><br>
			        
					<p>Your Name:
					{{ render_field(form.yourName, class="form-control smalltext", placeholder="ex: John Smith") }}
			        </p><br>
			        
					<p>Your Email:
					{{ render_field(form.yourEmail, class="form-control", placeholder="ex: JohnSmith@example.com") }}
			        </p><br>
			        
			        <div>
			        {{ render_field(form.recaptcha) }}
			        </div><br>
			        <div class="row">
			        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	                <button type="submit" class="btn btn-default btn-block">Submit to RepurposeDB</button></div></div>
		        </div></div>
    		</form>
      	</div>
    </div>
{% endblock %}