{% extends "base.html" %}
{% block title %}RepurposeDB | Disclaimer{% endblock %}
{% block content %}

   <div class="container homepage">
      <div class="container">
          <font color="black"></font>
        <h2>Disclaimer</h2>
              <hr>
              <p align=justify><font color=#58585a>
              	This resource is intended for purely research purposes. 
              	It should not be used for emergencies or medical or professional advice.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	The RepurposeDB website does not provide any medical or healthcare products, services or advice, and is not 
			  	for medical emergencies or urgent situations. IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR 
			  	DOCTOR OR 911 IMMEDIATELY. Information contained on this website is not a substitute for a doctor's medical 
			  	judgment or advice. We recommend that you discuss your specific, individual health concerns with your doctor 
			  	or health care professional.
			  </font></p>

      </div>
    </div>
{% endblock %}