{% extends "base.html" %}
{% block title %}RepurposeDB | Disease{% endblock %}
{% block content %}
    <div class="container homepage">
      <div class="container">
        <h2>{{id}} - {{entry[1][0].upper()+entry[1][1:]}}</h2>
        <hr>
   	  </div>
    </div>
    <div class="container data-container">
        <div class="row well">
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<p>
        			<b>DxID:</b> {{id}}<br>
        			<b>Name:</b> {{entry[1][0].upper()+entry[1][1:]}}<br>
        			<b>Indications:</b>
        			{% for drug in drugSet %}
        				<a href="{{url_for('drug', id = drugIDLookup[drug])}}">{{drug}}</a>{% if loop.index != drugSet|length %};{% endif %}
        			{% endfor %}
        			<!-- {% if drugs[0][0] %}{% for drug in drugs[0] %}
        				<a href="{{url_for('drug', id = drugIDLookup[drug])}}">{{drug}}</a>;
        			{% endfor %}{% endif %}<br>
        			<b>Orphan Indications:</b>
        			{% if drugs[1][0] %}{% for drug in drugs[1] %}
        				<a href="{{url_for('drug', id = drugIDLookup[drug])}}">{{drug}}</a>;
        			{% endfor %}{% endif %}<br>
        			<b>Rare Indications:</b>
        			{% if drugs[2][0] %}{% for drug in drugs[2] %}
        				<a href="{{url_for('drug', id = drugIDLookup[drug])}}">{{drug}}</a>;
        			{% endfor %}{% endif %}<br>
        			<b>Common Indications:</b>
        			{% if drugs[3][0] %}{% for drug in drugs[3] %}
        				<a href="{{url_for('drug', id = drugIDLookup[drug])}}">{{drug}}</a>;
        			{% endfor %}{% endif %}<br> -->
        			
        			
        		</p>
        	</div>
        </div>
      </div>
    <div class="container homepage well">
        <div class="row">
        
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          		<h3>Disease-Drug Network: </h3>
          		<iframe src="{{url_for('drugVis', id=id)}}" height = "375" width = "100%"></iframe>
        	</div>
          	<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          		<h3>Bipartite Drug Repurposing Graph: </h3>
          		<iframe src="{{url_for('drugVisD3V3', id=id, type = 'tree')}}" height = "375" width = "100%"></iframe>
          		<span>Click to expand</span>
          	</div> -->
        </div>
      </div>
    <div class="container homepage defaultLinks well">
        <div class="row">
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    			{% if hasAnnotations %}
    			<h3>Knowledge Mapping to Biomedical and Healthcare Ontologies</h3>
          		<p align = 'center'>Click row to see all entries</p>
	        	<table class="table table-hover table-bordered">
	              	<thead>
	              		<tr>
	              			{% for col in annotationHeader[1:] %}
		    					<th>{{col}}</th>
	              			{% endfor %}
	    				</tr>
	  				</thead>
		            <tbody>
			            {% for drug in drugSet %}
				        {% set annotations = annotationDict[drugIDLookup[drug.lower()]] %}
			            {% if drugIDLookup[drug.lower()] in annotationDict and entry[1].upper() in annotations %}
		              		{% for term in annotations %}
		              			{% if entry[1].upper() == term %}
		              			{% for row in annotations[term] %}
		              				{% if loop.index == 1 %}
		              				<tr class="annotationHeader" term="{{term.translate(None, ''.join([' ', '-', '.', "'"]))}}">
		              				{% else %}
			              			<tr class="{{term.translate(None, ''.join([' ', '-', '.', "'"]))}}" style="display:none">
			              			{% endif %}
										<td>{{drug.upper() if loop.index == 1}}</td>
										<td>{{row[0]}}</td>
										<td><a href="http://bioportal.bioontology.org/ontologies/{{row[1]}}">{{row[1]}}</a></td>
										{% if row[1] == "SNOMEDCT" %}
											<td><a href = http://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code={{row[2]}}>{{row[2]}}</a></td>
										{% elif row[2][0:2] == "HP" %}
											<td><a href=http://purl.obolibrary.org/obo/{{row[2]}}>{{row[2]}}</a></td>
										{% elif "DOID" in row[2][0:4] %}
											<td><a href=http://disease-ontology.org/term/DOID%3A{{row[2][5:]}}/>{{row[2]}}</a></td>
										{% elif "D0" in row[2][0:2] %}
											<td><a href=http://www.nlm.nih.gov/cgi/mesh/2013/MB_cgi?field=uid&term={{row[2]}}>{{row[2]}}</a></td>
										{% else %}
											<td>{{row[2]}}</td>
										{% endif %}
									</tr>
								{% endfor %}
								{% endif %}
		              		{% endfor %}
		              	{% endif %}
              	{% endfor %}
		  				</tbody>
	              	</table>
              	{% else %}
              		<h4>No ontologies mapped using NCBO-Annotator {March 2015} </h4>
              	{% endif %}
              </div>
        </div>
      </div>
{% endblock %}