{% extends "base.html" %}
{% block title %}RepurposeDB | Drug Page{% endblock %}
{% block head %}
<script>
$(document).ready($(function () {
	  $('[data-toggle="tooltip"]').tooltip({html: true})
	}))

function changeD3(selecter){
	if (x_axis.options[x_axis.selectedIndex].value != y_axis.options[y_axis.selectedIndex].value) {
		document.getElementById('d3ifrm').src = 
			'{{url_for("drugVisD3", id=id)}}'+'/'+x_axis.options[x_axis.selectedIndex].value+'/'+y_axis.options[y_axis.selectedIndex].value;
	}
}
$(window).resize(function(){
    document.getElementsByClassName('reloadOnResize')[0].contentDocument.location.reload(true);
    document.getElementsByClassName('reloadOnResize')[1].contentDocument.location.reload(true);
});
</script>
{% endblock %}
{% block content %}
    <div class="container homepage">
      <div class="container">
        <h2>{{id}} - {{entry[1].title()}}</h2>
        <hr>
   	  </div>
    </div>
    <div class="container data-container">
        <div class="row well">
        	{% if showImage %}
          	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        		<img src="../static/images/structures/{{id}}.png" class="img-responsive thumbnail">
        	</div>
          	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          	{% else %}
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          	{% endif %}
        			<dl class="dl-horizontal dl-horizontal-main header img-rounded">
        			<dt><b>Name:</b></dt> <dd>{{entry[1].title()}}</dd>
        			<dt><b>Rx ID:</b></dt> <dd>{{id}}</dd>
        			<dt><b>Validation Level:</b></dt> 
	        			<dd>
	        				<span data-toggle="tooltip" data-placement="right" title="{{evidence[2]}}">
		        				{% for n in range(0,evidence[0]) %}
		        					<i class="fa fa-star yellow"></i>
		        				{% endfor %}
		        				{% for n in range(0,evidence[1]) %}
		        					<i class="fa fa-star grey"></i>
		        				{% endfor %}
	        				</span>
	        			</dd>
        			{% if pvs %}<dt><b>Phenomic Similarity:</b></dt> <dd>
        				<span data-toggle="tooltip" data-placement="right" title="Phenomic similarity of various indications quantified using HPO and DO ontologies">
        					{{pvs}}</span></dd>{% endif %}
        			<dt><b>Reference ID:</b></dt><dd>
							{% if 'PubChem:' in entry[2][0:8] %}
								<a href=http://pubchem.ncbi.nlm.nih.gov/compound/{{entry[2][9:]}}>{{entry[2]}}</a>
              				{% elif 'CHEMBL' in entry[2][0:6] %}
              					<a href=https://www.ebi.ac.uk/chembl/compound/inspect/{{entry[2]}}>{{entry[2]}}</a>
              				{% elif 'FDA' in entry[2][0:3] %}
								<form action="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" method="post" name="displaysearch" style='margin-bottom:0px'>
									<a href="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" class="submitbutton">{{entry[2]}}</a>
		   							<input type="Hidden" name="fuseaction" value="Search.SearchAction">
	                                <input type="Hidden" name="SearchType" value="BasicSearch" />
	                                <input type="Hidden" name="searchTerm" id="searchTerm" maxlength="250" size="30" value="{{entry[2]}}"/>
								</form>
              				{% elif entry[2]|length > 0 %}
              					<a href=http://www.drugbank.ca/drugs/{{entry[2]}}>{{entry[2]}}</a>
              				{% else %}
								<form action="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" method="post" name="displaysearch" style='margin-bottom:0px'>
									<a href="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" class="submitbutton">FDA RB DB</a>
		   							<input type="Hidden" name="fuseaction" value="Search.SearchAction">
	                                <input type="Hidden" name="SearchType" value="BasicSearch" />
	                                <input type="Hidden" name="searchTerm" id="searchTerm" maxlength="250" size="30" value="{{entry[1]}}"/>
								</form>
              				{% endif %}</dd>
        			
        			<dt><b>Primary Indications:</b></dt><dd>
        			{% if diseases[0][0] %}
        				{% for disease in diseases[0] %}
        					<a href="{{url_for('disease', id = diseaseIDLookup[disease])}}">{{disease[0].upper() + disease[1:] if loop.index == 1 else disease}}</a>{% if loop.index != diseases[0]|length %};{% endif %}
        				{% endfor %}</dd>
        			{% else %}
        					No annotated primary indications.
        			{% endif %}
        			
        			<dt><b>Orphan Indications:</b></dt><dd>
        			{% if diseases[1][0] %}
        				{% for disease in diseases[1] %}
        					<a href="{{url_for('disease', id = diseaseIDLookup[disease])}}">{{disease[0].upper() + disease[1:] if loop.index == 1 else disease}}</a>{% if loop.index != diseases[1]|length %};{% endif %}
        				{% endfor %}</dd>
        			{% else %}
        					No annotated orphan indications.
        			{% endif %}
        			
        			<dt><b>Rare Indications:</b></dt><dd>
        			{% if diseases[2][0] %}
        				{% for disease in diseases[2] %}
        					<a href="{{url_for('disease', id = diseaseIDLookup[disease])}}">{{disease[0].upper() + disease[1:] if loop.index == 1 else disease}}</a>{% if loop.index != diseases[2]|length %};{% endif %}
        				{% endfor %}</dd>
        			{% else %}
        					No annotated rare indications.
        			{% endif %}
        			
        			<dt><b>Common Indications:</b></dt><dd> 
        			{% if diseases[3][0] %}
        				{% for disease in diseases[3] %}
        					<a href="{{url_for('disease', id = diseaseIDLookup[disease])}}">{{disease[0].upper() + disease[1:] if loop.index == 1 else disease}}</a>{% if loop.index != diseases[3]|length %};{% endif %}
        				{% endfor %}</dd>
        			{% else %}
        					No annotated common indications.
        			{% endif %}
        			
        			{% if pathways %}
        				{% if pathways|length > 200 %}
	        				<dt class="clicktoexpand" term="pathways">
	        					<b>Pathways:</b>
	        				</dt>
	        				<dd class="clicktoexpand" term="pathways"> 
		        				<span class="defaultLinks showlessPathways" style="display:block;">
		        					{{pathways[0:200]}}
									<a>...Click to show more</a>
								</span>
		        				<span class="defaultLinks showmorePathways" style="display:none;">
		        					{{pathways}}
									<a>...Click to show less</a>
								</span>
	        				</dd>
	        			{% else %}
	        				<dt><b>Pathways:</b></dt><dd> 
	        				{{pathways}}
	        				</dd>
        				{% endif %}
        			{% endif %}
        			
        			{% if interactionsRDB or interactionsOther %}
        				{% if interactionsOther|length > 8 %}
	        				<dt class="clicktoexpand" term="DrugInteractions"><b>Drug Interactions:</b></dt>
	        				<dd class="clicktoexpand" term="DrugInteractions">
		        				<span class="showlessDrugInteractions" style="display:block;">
			        				{% for interaction in interactionsRDB %}
			        					<a class = "highlightedLink" href="{{url_for('drug', id = interaction[0])}}" data-toggle="tooltip" data-placement="bottom" title="(In RepurposeDB)<br />{{interaction[3]}}">{{interaction[2]}}</a>;
			        				{% endfor %}
			        				{% for interaction in interactionsOther[0:10] %}
			        					<a href="http://www.drugbank.ca/drugs/{{interaction[0]}}" data-toggle="tooltip" data-placement="bottom" title="(Not in RepurposeDB)<br />{{interaction[2]}}">{{interaction[1]}}</a>;
			        				{% endfor %}
		        					...<br><a>Click to show more...</a>
		        				</span>
			        			<span class="showmoreDrugInteractions" style="display:none;">
			        				{% for interaction in interactionsRDB %}
			        					<a class = "highlightedLink" href="{{url_for('drug', id = interaction[0])}}" data-toggle="tooltip" data-placement="bottom" title="(In RepurposeDB)<br />{{interaction[3]}}">{{interaction[2]}}</a>;
			        				{% endfor %}
			        				{% for interaction in interactionsOther %}
			        					<a href="http://www.drugbank.ca/drugs/{{interaction[0]}}" data-toggle="tooltip" data-placement="bottom" title="(Not in RepurposeDB)<br />{{interaction[2]}}">{{interaction[1]}}</a>{% if loop.index != interactionsOther|length-1 %};{% endif %}
			        				{% endfor %}
									<br><a>Click to show less...</a>
								</span>
	        				</dd>
        				{% else %}
	        				<dt><b>Drug Interactions:</b></dt>
        					<dd>
		        				{% for interaction in interactionsRDB %}
		        					<a class = "highlightedLink" href="{{url_for('drug', id = interaction[0])}}" data-toggle="tooltip" data-placement="bottom" title="(In RepurposeDB)<br />{{interaction[3]}}">{{interaction[2]}}</a>;
		        				{% endfor %}
		        				{% for interaction in interactionsOther %}
		        					<a href="http://www.drugbank.ca/drugs/{{interaction[0]}}" data-toggle="tooltip" data-placement="bottom" title="(Not in RepurposeDB)<br />{{interaction[2]}}">{{interaction[1]}}</a>{% if loop.index != interactionsOther|length-1 %};{% endif %}
		        				{% endfor %}
	        				</dd>
        				{% endif %}
        			{% else %}
        				<dt><b>Drug Interactions:</b></dt><dd>No annotated drug interactions in DrugBank.</dd>
        			{% endif %}
        			<dt><b>Food Interactions:</b></dt><dd>
        			
        			{% if 'food-interactions' in drugBankData and 'food-interaction' in drugBankData['food-interactions'] %}
        				{% if drugBankData['food-interactions']['food-interaction'][0]|length >1 %}
        					{{" ".join(drugBankData['food-interactions']['food-interaction'])}}
        				{% else %}
        					{{drugBankData['food-interactions']['food-interaction']}}
        				{% endif %}
        			{% else %}
        					No annotated food interactions in DrugBank.
        			{% endif %}
        			</dd>
        			
        			</dl>
        	</div>
        </div>
      </div>
    <div class="container homepage well">
        <div class="row">
        {% if showPDB or showSDF %}
          	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          		<h3>Interactive 3D Model</h3>
        		{% if showSDF %}
          		<iframe src="{{url_for('drugVisJSmol', id=id, filetype='sdf')}}" height = "375" width = "375"></iframe>
          		{% else %}
          		<iframe src="{{url_for('drugVisJSmol', id=id, filetype='pdb')}}" height = "375" width = "375"></iframe>
        		{% endif %}
        	</div>
          	<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
        {% else %}
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% endif %}
          		<h3>Bipartite Drug Repurposing Graph</h3>
          		<iframe src="{{url_for('drugVis', id=id)}}" height = "375" width = "100%"></iframe>
          		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-color:#FC9090">{{id}}</div>
          		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-color:#00F2FF">Primary Indication</div>
          		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-color:#A5CFD1">Secondary Indication</div> 
        	</div>
        <!-- 
        {% if showPDB or showSDF %}
          	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          		<h3>Interactive Model: </h3>
        		{% if showSDF %}
          		<iframe src="{{url_for('drugVisJSmol', id=id, filetype='sdf')}}" height = "375" width = "375"></iframe>
          		{% else %}
          		<iframe src="{{url_for('drugVisJSmol', id=id, filetype='pdb')}}" height = "375" width = "375"></iframe>
        		{% endif %}
        	</div>
          	<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
        {% else %}
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% endif %}
          		<h3>Bipartite Drug Repurposing Graph: </h3>
          		<iframe src="{{url_for('drugVisD3V3', id=id, type = 'tree')}}" height = "375" width = "100%" class = "reloadOnResize"></iframe>
          		<span>Click to expand</span>
          	</div>
        	
          	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          		<h3>Bipartite Drug Repurposing Graph: </h3>
          		<iframe src="{{url_for('drugVisD3V3', id=id, type = 'radial')}}" height = "600" width = "100%" class = "reloadOnResize"></iframe>
          		<span>Click to expand</span>
          	</div>
          	 -->
        </div>
      </div>
     </div>
        {% if showD3 %}
    <div class="container homepage well">
        <div class="row">
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          			<h3>Visualize Chemical Properties</h3>
          			<iframe id="d3ifrm" src="{{url_for('drugVisD3', id=id)}}" height = "425" width = "100%" style = "background-color: white"></iframe>
         		</div>
         		<form>
          		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          			<p>Select x-axis</p> 
          			<select id="x_axis"  data-placeholder="MW" class="select2" style="width: 100%;"
          			ONCHANGE="changeD3(this);">
			      		{% for feature in header %}
			      		{% if not 'MW' == feature %}
			      			<option value="{{feature}}">{{feature}}</option>
			      		{% else %}
			      			<option selected="selected" value="{{feature}}">{{feature}}</option>
			      		{% endif %}
			      		{% endfor %}
          			</select>
          		</div>
          		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          			<p>Select y-axis</p> 
          			<select id="y_axis"  data-placeholder="bonds" class="select2" style="width: 100%;"
          			ONCHANGE="changeD3(this);">
			      		{% for feature in header %}
			      		{% if not 'bonds' == feature %}
			      			<option value="{{feature}}">{{feature}}</option>
			      		{% else %}
			      			<option selected="selected" value="{{feature}}">{{feature}}</option>
			      		{% endif %}
			      		{% endfor %}
          			</select>
          		</div>
          		</form>
         	</div>
        </div>
    </div>
    {% endif %}
    {% if EHR %}
    <div class="container homepage well">
          		<h3>Disease prevalence from Electronic Health Records</h3>
				<p>Click row to show all</p>
          		<table class="table table-hover table-bordered">
		    	{% set keys = [['d1','Disease A'], ['d2','Disease B'], ['d1d2','A&#8745;B'], ['numd1','A&#8745;¬B'], ['numd2','B&#8745;¬A'], ['OR','Odds-Ratio'], ['pval','P-Value'], ['bonf_corr_pval','Adjusted P-Value']]%}
	              	<thead>
	              		<tr>
					    	{% for key in keys %}
				    		<th>
				    			{{key[1]|safe}}
				    		</th>
					    	{% endfor %}
		    			</tr>
		    		</thead>
		    		<tbody>
			    	{% for d1, rows in EHR %}
	              		<tr class = "annotationHeader" term="{{stripPunctuation(d1)}}EHR">
				    		<td>
				    			{{d1}}
				    		</td>
			    		{% for key in keys[1:] %}
				    		<td>
				    			{{rows[0][key[0]]}}
				    		</td>
			    		{% endfor %}
		    			</tr>
		    			{%for row in rows[1:] %}
		              		<tr class="{{stripPunctuation(d1)}}EHR" style="display:none">
					    		<td>
					    		</td>
				    		{% for key in keys[1:] %}
					    		<td>
					    			{{row[key[0]]}}
					    		</td>
				    		{% endfor %}
			    			</tr>
			    		{% endfor %}
			    	{% endfor %}
			    	</tbody>
		    	</table>
		    </div>
    {% endif %}
    {% if CUI %}
    <div class="container homepage well">
          		<h3>Shared Genetic Architectures of Disease Pairs</h3>
				<p>Click row to show all</p>
          		<table class="table table-hover table-bordered">
		    	{% set keys = [['d1','Disease A'], ['d2','Disease B'], ['bonf_corr_pval','Adjusted P-Value'], ['shared_gene_ids','Shared Gene IDs']]%}
	              	<thead>
	              		<tr>
					    	{% for key in keys %}
				    		<th>
				    			{{key[1]|safe}}
				    		</th>
					    	{% endfor %}
		    			</tr>
		    		</thead>
		    		<tbody>
			    	{% for d1, rows in CUI %}
	              		<tr class = "annotationHeader" term="{{stripPunctuation(d1)}}CUI">
				    		<td>
				    			{{d1}}
				    		</td>
			    		{% for key in keys[1:] %}
				    		<td>
				    			{{rows[0][key[0]]}}
				    		</td>
			    		{% endfor %}
		    			</tr>
		    			{%for row in rows[1:] %}
		              		<tr class="{{stripPunctuation(d1)}}CUI" style="display:none">
					    		<td>
					    		</td>
				    		{% for key in keys[1:] %}
					    		<td>
					    			{{row[key[0]]}}
					    		</td>
				    		{% endfor %}
			    			</tr>
			    		{% endfor %}
			    	{% endfor %}
			    	</tbody>
		    	</table>
		    </div>
    {% endif %}
    {% if drugBankData %}
    <div class="container data-container well">
          		<h3>Chemical, Pharmacological and Biological Annotations</h3><br>
    			<dl class="dl-horizontal dl-horizontal-main annotations img-rounded">
        			<dt><b>ATC Code:</b></dt>
        			<dd>
        			{% if 'atc-codes' in drugBankData and 'atc-code' in drugBankData['atc-codes']%}
        				{% if 'code' in drugBankData['atc-codes']['atc-code'] %}
        					{{drugBankData['atc-codes']['atc-code']['code']}}
        				{% else %} 
	        				{% for item in drugBankData['atc-codes']['atc-code'] %}
	        					{{item['code']}}{% if loop.index != drugBankData['atc-codes']['atc-code']|length-1 %};{% endif %}
	        				{% endfor %}
	        			{% endif %}
       				{% else %}
       					No ATC code annotated in DrugBank
        			{% endif %}
        			</dd>
        			
        			{% if 'international-brands' in drugBankData and 'international-brand' in drugBankData['international-brands']%}
	        			
        				{% if 'international-brand' in drugBankData['international-brands']['international-brand'] %}
        					<dt><b>Brand:</b></dt><dd>{{drugBankData['international-brands']['international-brand']['international-brand']}}{% if drugBankData['international-brands']['international-brand']['company'] %} ({{drugBankData['international-brands']['international-brand']['company']}}){% endif %}
        				{% elif drugBankData['international-brands']['international-brand']|length > 0 %}
	        				<dt><b>Brands:</b></dt><dd>
	        				{% for item in drugBankData['international-brands']['international-brand'] %}
	        					{{item['international-brand']}}{% if item['company'] %} ({{item['company']}}){% endif %}{% if loop.index != drugBankData['international-brands']['international-brand']|length %};{% endif %}
	        				{% endfor %}
	        			{% else %}
	        				<dt><b>Brands:</b></dt><dd>No brands annotated in DrugBank
	        			{% endif %}
        				</dd>
        			{% endif %}
        				
        			{% if 'categories' in drugBankData %}
        				{% if 'category' in drugBankData['categories']['category'] %}
        					<dt><b>Category:</b></dt><dd> {{drugBankData['categories']['category']['category']}}</dd>
        				{% elif 'category' in drugBankData['categories'] %}
        					<dt><b>Categories:</b></dt><dd> 
	        				{% for item in drugBankData['categories']['category'] %}
	        					{{item['category']}}{% if loop.index != drugBankData['categories']['category']|length %};{% endif %}
	        				{% endfor %}
	        				</dd>
	        			{% else %}
        					<dt><b>Categories:</b></dt><dd>No categories annotated in DrugBank</dd>
	        			{% endif %}
	        		{% endif %}
	        		
        			{% if 'external-identifiers' in drugBankData and 'external-identifier' in drugBankData['external-identifiers'] %}
        				{% for item in drugBankData['external-identifiers']['external-identifier'] %}
        					{% set urldict = {'ChEBI':'http://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:', 
        									  'PubChem Compound':'http://pubchem.ncbi.nlm.nih.gov/compound/', 
        									  'KEGG Drug': 'http://www.kegg.jp/dbget-bin/www_bget?dr:'} %}
        					{% if item['resource'] in ['ChEBI', 'PubChem Compound', 'KEGG Drug'] %}
        						<dt><b>{{item['resource'].replace('Compound', '')}} ID:</b></dt><dd><a href='{{urldict[item['resource']]}}{{item['identifier']}}'>{{item['identifier']}}</a></dd>
        					{% endif %}
        				{% endfor %}
        			{% endif %}
        			
        			{% if 'calculated-properties' in drugBankData and 'property' in drugBankData['calculated-properties'] %}
        				{% for item in drugBankData['calculated-properties']['property'] %}
        					{% if item['kind'] in 'InChI' %}
        						<dt><b>InChI:</b></dt><dd>{{item['value'].replace("InChI=","")}}</dd>
        					{% endif %}
        					{% if item['kind'] in 'SMILES' %}
        						<dt><b>SMILE:</b></dt><dd>{{item['value']}}</dd>
        					{% endif %}
        				{% endfor %}
        			{% endif %}
        			
        			{% if 'classification' in drugBankData %}
		        		<dt><b>Classification:</b></dt>
		        		<dd><dl class="dl-horizontal classification">
	        				{% for term in [['kingdom','Kingdom'], ['superclass', 'Superclass'], ['class','Class'], ['subclass','Subclass']] %}
	        					{% if term[0] in drugBankData['classification'] %}
	        						<dt><b>{{term[1]}}:</b></dt><dd>{{drugBankData['classification'][term[0]]}}</dd>
	        					{% endif %}
	        				{% endfor %}
	        				</dl>
	        			</dd>
        			{% endif %}
        			
        			{% if 'targets' in drugBankData and 'target' in drugBankData['targets'] %}
        				{% if 'id' in drugBankData['targets']['target'] %}
        					{% if 'polypeptide' in drugBankData['targets']['target'] %}
        						<dt><b>Target:</b></dt><dd><a href='http://www.ncbi.nlm.nih.gov/gene/?term={{drugBankData['targets']['target']['polypeptide']['gene-name']}}+%5Bsym%5D+homo+sapiens'>{{drugBankData['targets']['target']['polypeptide']['gene-name']}}</a></dd>
        					{% endif %}
	        			{% elif drugBankData['targets']['target'] | length > 0 %}
	        				<dt><b>Targets:</b></dt><dd> 
	        				{% for item in drugBankData['targets']['target'] %}
	        					{% if 'polypeptide' in item  and 'gene-name' in item['polypeptide'] %}
	        						<a href='http://www.ncbi.nlm.nih.gov/gene/?term={{item['polypeptide']['gene-name']}}+%5Bsym%5D+homo+sapiens'>{{item['polypeptide']['gene-name']}}</a>{% if loop.index != drugBankData['targets']['target']|length %};{% endif %}
	        					{% endif %}
	        				{% endfor %}
	        				</dd>
	        			{% else %}
	        				<dt><b>Targets:</b></dt><dd>No targets annotated in DrugBank</dd>
	        			{% endif %}
        			{% endif %}
        			
        			{% for characteristic, name in [['indication', 'Indication'],['pharmacodynamics', 'Pharmacodynamics'],['description','Description'],['mechanism-of-action','Mechanism']] %}
	        			{% if characteristic in drugBankData and drugBankData[characteristic] | length > 240 %}
	        				<dt class="clicktoexpand" term="{{name}}"><b>{{name}}:</b></dt>
	        				<dd class="clicktoexpand" term="{{name}}">
	        				<span class="showless{{name}}" style="display:block;">{{drugBankData[characteristic][0:240]}}...<br><a>Click to show more...</a></span>
	        				<span class="showmore{{name}}" style="display:none;">{{drugBankData[characteristic]}}<br><a>Click to show less...</a></span>
	        				</dd>
	        			{% elif characteristic in drugBankData %}
	        				<dt><b>{{name}}:</b></dt>
	        				<dd>{{drugBankData[characteristic]}}</dd>
	        			{% else %}
	        				<dt><b>{{name}}:</b></dt>
	        				<dd>No {{name}} annotations in DrugBank</dd>
		        		{% endif %}
        			{% endfor %}
        	</dl>
        </div>
    {% endif %}
    <div class="container data-container well">
	    {% if admet %}
			<h3>Adsorption, Distribution, Metabolism, Excretion and Toxicity</h3><br>
			{% if admetNA %}
				<p style="text-align:center">Not Available from DrugBank</p>
			{% else %}
				<dl class = "dl-horizontal dl-horizontal-main admet img-rounded">	
	   			{% for term in ['Human Intestinal Absorption','Blood Brain Barrier','Caco-2 permeable','P-glycoprotein substrate','P-glycoprotein inhibitor I','P-glycoprotein inhibitor II','Renal organic cation transporter','CYP450 2C9 substrate','CYP450 2D6 substrate','CYP450 3A4 substrate	CYP450 1A2 substrate','CYP450 2C19 substrate','CYP450 inhibitory promiscuity','Ames test','Carcinogenicity','Biodegradation','Rat acute toxicity','hERG inhibition (predictor I)','hERG inhibition (predictor II)'] %}
	   				{% if term in admet and not admet[term] == '' %}
	    				<dt><b>{{term}}:</b></dt>
	    				<dd>{{admet[term]}}</dd>
	   				{% endif %}
	   			{% endfor %}
				</dl>
			{% endif %}
		{% endif %}
    </div>
    <div class="container homepage defaultLinks well">
        <div class="row">
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          		<h3>Knowledge Mapping to Biomedical and Healthcare Ontologies</h3>
          		<p>Click row to see all entries</p>
	        	<table class="table table-hover table-bordered">
	              	<thead>
	              		<tr>
	              			{% for col in annotationHeader[1:] %}
		    					<th>{{col}}</th>
	              			{% endfor %}
	    				</tr>
	  				</thead>
	              	<tbody>
	              		{% for term in annotations %}
		              			{% for row in annotations[term] %}
		              				{% if loop.index == 1 %}
		              				<tr class="annotationHeader" term="{{term.translate(None, ''.join([' ', '-', '.', "'"]))}}">
		              				{% else %}
			              			<tr class="{{term.translate(None, ''.join([' ', '-', '.', "'"]))}}" style="display:none">
			              			{% endif %}
										<td>{{term if loop.index == 1}}</td>
										<td>{{row[0]}}</td>
										<td><a href="http://bioportal.bioontology.org/ontologies/{{row[1]}}">{{row[1]}}</a></td>
										{% if row[1] == "SNOMEDCT" %}
											<td><a href = http://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code={{row[2]}}>{{row[2]}}</a></td>
										{% elif row[2][0:2] == "HP" %}
											<td><a href=http://purl.obolibrary.org/obo/{{row[2]}}>{{row[2]}}</a></td>
										{% elif "DOID" in row[2][0:4] %}
											<td><a href=http://disease-ontology.org/term/DOID%3A{{row[2][5:]}}/>{{row[2]}}</a></td>
										{% elif "D0" in row[2][0:2] %}
											<td><a href=http://www.nlm.nih.gov/cgi/mesh/2013/MB_cgi?field=uid&term={{row[2]}}>{{row[2]}}</a></td>
										{% else %}
											<td>{{row[2]}}</td>
										{% endif %}
									</tr>
								{% endfor %}
	              		{% endfor %}
	  				</tbody>
              	</table>
        	</div>
        	
        </div>
      </div>
    <div class="container homepage defaultLinks well">
        <div class="row">
        	<h3>Downloads</h3>
        	{% if showPDB %}
	        	<a class="btn btn-default" href="{{url_for('static', filename='pdb/'+id+'.pdb')}}" role="button">PDB</a>
	        {% endif %}
        	{% if showSDF %}
	        	<a class="btn btn-default" href="{{url_for('static', filename='sdf/'+id+'.sdf')}}" role="button">SDF</a>
        	{% endif %}
        	<a class="btn btn-default" href="{{url_for('drugOntologies', id=id)}}" role="button">Ontologies</a>
        	<a class="btn btn-default" href="{{url_for('drugIndications', id=id)}}" role="button">Network</a>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){$(".select2").select2();})
    </script>

{% endblock %}