{% extends "base.html" %}
{% block title %}RepurposeDB | Help{% endblock %}
{% block content %}
   <div class="container homepage">
      <div class="container defaultLinks">
          <font color="black"></font>
        	<h2>RepurposeDB - Help</h2>
        	<hr>
			<div id = "introduction" class = "location"></div>
			<h4>Introduction:</h4>
			<p align=justify>
			Right drug in right dose for right patient at right time via right route is defined as one of the promising 
			outcome of personalized, multi-omic medicine. Systematic drug repositioning enables the translation of 
			insights from computational analyses coupled with laboratory based or experimental findings to bench side 
			in a shorter span of time. From the first report of drug repositioning in early 1950s until 2015, more than 
			250 successful reports have been published in the literature. We analyzed the repertoire of such cases 
			reported and derived a molecular code for drug repositioning. The analyses of the data in the format of drugs, 
			primary indications and secondary indications reveal molecular preferences; ligand classes, functional roles 
			and pathways were drug repositioning was successful. We envisage our first report on global analyses of 
			successful drug repositioning space and RepurposeDB could help to develop predictive models of drug 
			repositioning and can have major influence in personalized drug repositioning, an emerging therapeutic area 
			in data-driven, individualized medicine.
   			</p><br>
   			
   			
			
   			
   			<div id = "DrugRepositioning" class="location"></div>
			<h4>Drug Repositioning:</h4>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: right; margin: 0px 0px 15px 15px;">
		        <img src="{{url_for('static', filename='images/figures/Figure1.png')}}" class="img-responsive thumbnail"></img>
		   		<h5>Figure 1: Drug Repositioning at-a-glance</h5>
   			</div>
			<p align=justify>
			Drug repositioning is an important component of therapeutic stratification in the precision medicine 
			paradigm. Molecular profiling and more sophisticated analysis of longitudinal clinical data are refining 
			definitions of human diseases, creating needs and opportunities to re-target or reposition approved drugs 
			for alternative indications. Drug repositioning strategies have demonstrated success in complex diseases 
			requiring improved therapeutic interventions as well as orphan diseases without any known treatments. An 
			increasing collection of available computational and experimental methods that leverage molecular and 
			clinical data enable diverse drug repositioning strategies. Integration of translational bioinformatics
			resources, statistical methods, chemoinformatics tools and experimental techniques (including medicinal 
			chemistry techniques) can enable the rapid application of drug repositioning on an increasingly broad scale. 
			Efficient tools are now available to systematically apply drug-repositioning approaches to large repositories of 
			compounds with biological activities. 
   			</p><br>
   			
			
   			
			<h4>Why drug repositioning?</h4>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: right; margin: 0px 0px 0px 15px;">
	            <img src="{{url_for('static', filename='images/figures/Figure2.png')}}" class="img-responsive thumbnail"></img>
	   			<h5>Figure 2: Computational and experimental strategies for drug repositioning</h5>
   			</div>
			<p align=justify>
			Developing a new drug from the discovery phase to market requires significant investments in time (~15 years) 
			and resources (USD $800- $1 billion). Chemical screening, lead identification, biological experimentation by 
			in-vitro and in-vivo validation studies and extensive multi-center clinical trials. Lead molecules are also 
			rigorously assayed to define pharmacological effects, bioavailability, the optimal dosing and formulation, 
			and potential toxicity assessments. Irrespective of the dynamics in pharmaceutical, pre-clinical and drug-development 
			budgets, drugs are often burdened with known and unknown side effects that lead to the recall of the drug 
			(See: 
			<a href=http://www.fda.gov/Safety/MedWatch/>FDA MedWatch</a> 
			and 
			<a href="http://www.fda.gov/drugs/guidancecomplianceregulatoryinformation/surveillance/adversedrugeffects/ucm070093.htm">
			FDA Adverse Event Reporting System (FAERS) Statistics</a>). 
			These aspects influence the product development and revenue cycles of pharma companies, which in turn 
			affect the pricing of the drug. United States patent rules can also limit the return of the investment (ROI) 
			for pharmaceutical companies due 20- year patent rule with an additional five years of patent exclusivity based on 
			the Hatch-Waxman act 
			(<a href="http://www.gpo.gov/fdsys/pkg/STATUTE-98/pdf/STATUTE-98-Pg1585.pdf">Public Law 98-417</a>). 
			In such a scenario patients, care providers or payers have to share the high cost of medications By contrast, 
			drug-repositioning investigations can bring new therapies to market in approximately half the budget and time 
			required by traditional drug development cycle. This is possible due to the availability of pre-existing data 
			on efficacy, toxicity and dosing along with prior biological knowledge of the compounds. Compared to traditional 
			drug discovery pipelines that screen thousands of molecules with known and unknown toxicity profiles, drug 
			repositioning focuses on experimentally verified, FDA approved molecules or pre-clinical compounds that are 
			either an already successful drug or drugs that are retracted due to adverse reactions when used against the 
			primary indication. This targeted re-use and recycling approach helps in reducing the cost of drug discovery 
			pipelines and thus could help to reduce the cost to the patient population, further enabling the patients to 
			access better therapeutics with shorter times for translation of therapies from clinical research to therapeutic 
			interventions. 
			</p>
			<p align=justify>
			Relicensing a compound for new indications may also help the pharmaceutical companies and experimental 
			investigators expand the patent exclusivity by altering the mode of delivery, dosing or via combination therapy. 
			Due to off-label use, repositioning an off-patent drug in the United States might not be a financially lucrative 
			option for pharma companies, it could help inform policy efforts in other countries to consider drug repositioning 
			strategies as part of drug discovery lifecycle. For example repositioning a cheap and widely available drug for 
			malaria or tuberculosis for a new indication with costly therapeutic options can make the treatment affordable to 
			larger, underserved patient communities. Patents, policies and cost estimate around drug repositioning are evolving 
			in different countries. Unified guide- lines to protect drug repositioning based indications and pro- vide 
			affordable therapeutic options based on existing indications in faster turnaround time could ultimately improve 
			therapeutic outcomes. 
   			</p><br>
   			
   			<div id = "RepurposeDB" class="location"></div>
			<h4>RepurposeDB: Towards a global catalog of drug repositioning:</h4>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: right; margin: 0px 0px 0px 15px;">
	            <img src="{{url_for('static', filename='images/figures/Figure3.png')}}" class="img-responsive thumbnail"></img>
	   			<h6>Figure 3: Comparison of traditional drug discovery and drug repositioning based investigations</h6>
   			</div>
   			
			<p align=justify>
			More than 300 drug-repositioning examples were reported in the literature and a catalog is developed. A striking 
			observation from the drug repositioning catalog is the importance of different axes of similarity between the disease 
			states and drug groups that are implied by specific drug repositions. For ex- ample intra-disease category repositioning 
			(primary and secondary indications are in the same sub or primary category of ICD-9 coding system), inter-disease category 
			repositioning (primary and secondary indications are in different primary category of ICD-9 coding system), comorbid 
			conditions and underlying pathophysiological modules could also drive successful repositioning. A subset of cancer drugs 
			re- purposed to another class of diseases in the ICD-9 classification is provided in. Analyzing a large number of successful 
			drug repositioning examples would help to design predictive models and gain novel insights to global properties of drug 
			repositioning. We curated, indexed analyzed the repertoire of drugs from repositioning investigations reported in PubMed 
			and FDA databases. The data was compiled as a database RepurposeDB; with 250 diseases and 1100 indications. We also designed 
			Minimum Information About Drug Repositioning Investigations (MIADRI), a guideline to effectively capture and reuse data from 
			drug repositioning investigations to streamline the submission of future investigations to RepurposeDB. The analyses of the 
			data in the format of drugs, primary indications and secondary indications reveal molecular preferences; ligand classes, 
			network properties, functional roles and pathways associated with successful drug repositioning were successful. We envisage 
			this first resource and global analytics of successful drug repositioning space could help to develop predictive models of 
			drug repositioning and can have major influence in personalized drug repositioning, an emerging therapeutic area in data-driven
			medicine. 
			</p><br>
			
   			<div id = "Compounds" class="location"></div>
			<h4>Medications in RepurposeDB:</h4>
			<p align=justify>
            Compounds:
            <img src="{{url_for('static', filename='images/figures/chemical_universe.png')}}" class="img-responsive thumbnail"></img>
            Protein Drugs:
            <img src="{{url_for('static', filename='images/figures/therapeutic_proteins.png')}}" class="img-responsive thumbnail"></img>
			</p>
			
			<div id = "Diseases" class="location"></div>
			<h4>Diseases in RepurposeDB:</h4>
			<p align=justify>
            <img src="{{url_for('static', filename='images/figures/disease_figure.jpg')}}" class="img-responsive thumbnail"></img>
			</p>
            
            <div id = "Browse" class="location"></div>
            <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h4>Browsing Drugs:</h4>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" style="float: right; margin: 0px 0px 0px 15px;">
		            <img src="{{url_for('static', filename='images/figures/RepurposeDB_BrowseDrugs.png')}}" class="img-responsive thumbnail"></img>
	            </div>
				<p align=justify>
				You can browse the RepurposeDB drugs alphabetically by selecting the "DRUGS" tab from the navbar. Select a letter from the
				list to view all RepurposeDB drugs starting with that letter, and click on the page number bar to view results not listed
				on the first page. Click on an RxID to view details about the corresponding drug, and on a given indication to view information
				regarding it. A link to the relevant reference database is provided for your convenience.<br>
				*Orphan Indications are indications which have been designated, but which are not yet approved.
				</p>
			</div></div>
            <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h4>Browsing Diseases:</h4>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" style="float: right; margin: 0px 0px 0px 15px;">
		            <img src="{{url_for('static', filename='images/figures/RepurposeDB_BrowseDiseases.png')}}" class="img-responsive thumbnail"></img>
	            </div>
				<p align=justify>
				You can brows the indications of RepurposeDB drugs alphabetically by selecting the "DISEASE" tab from the navbar. Select a letter
				from the list to view all RepurposeDB indications starting with that letter, and click on the page number bar to view results not
				listed on the first page. In this case, the type of indication is what type of indication the feature is relative to a given drug -
				for example, progesteron has embryo implantation as a common indication, and embryo transfer as a primary indication. Click on a DxID 
				to view details about the corresponding indication, and on a given drug name to view information regarding it.
				</p>
			</div></div>
            
            <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            <div id = "Search" class="location"></div>
				<h4>Searching RepurposeDB:</h4>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" style="float: right; margin: 0px 0px 0px 15px;">
			           <img src="{{url_for('static', filename='images/figures/RepurposeDB_Search.png')}}" class="img-responsive thumbnail"></img>
		        </div>
				<p align=justify>
	            To search for a feature in RepurposeDB, simply select the search field in the navbar and type in the term that you are interested in.
	            The search box will autocomplete your term, at which point you can select the feature of interest, click the search button, and view
	            all entries (both drug and disease-indexed) which contain your term. For example, if you searched for "cancer", you would, as of
	            version 1, 35 drugs with an indication involving some form of cancer, and 55 different types of cancer indicated by one of those
	            35 drugs.
				</p>
            </div></div>
            
            <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id = "references" class ="location"></div>
			<h4>RepurposeDB - References:</h4>
				<ul style="text-align:justify">
					<li>Meta-analyses of drug repositioning investigations in RepurposeDB: Towards chemical, biological 
						and epidemiological principles of drug repurposing. Khader Shameer, Ben Glicksberg, Ben Readhead, Brian A. Kidd, 
						Riccardo Miotto, Rachel Hodos, Marcus Badgeley, Max S. Tomlinson, Timothy O’Connor, Rong Chen, Avi Ma’ayan and Joel T. Dudley (<i><b>Manuscript Submitted</b></i>)
					</li>
					<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/25579574">Shameer K, Readhead B, Dudley JT. (2015) Computational and experimental 
						advances in drug repositioning for accelerated therapeutic stratification. Curr Top Med Chem. 
						2015;15(1):5-20.
					</a></li>
					<li ><a href="http://www.ncbi.nlm.nih.gov/pubmed/25592600" >Glicksberg BS, Li L, Cheng WY, Shameer K, Hakenberg J, Castellanos R, 
						Ma M, Shi L, Shah H, Dudley JT, Chen R. (2015) An integrative pipeline for multi-modal 
						discovery of disease relationships. Pac Symp Biocomput. 2015;20:407-18.</font>
					</a></li>
					<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/21849665">Sirota M, Dudley JT, Kim J, Chiang AP, Morgan AA, Sweet-Cordero A, 
						Sage J, Butte AJ. (2015) Discovery and preclinical validation of drug indications using 
						compendia of public gene expression data. Sci Transl Med. 2011 Aug 17;3(96):96ra77. doi: 
						10.1126/scitranslmed.3001318.
					</a></li>
					<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/21849664">Dudley JT, Sirota M, Shenoy M, Pai RK, Roedder S, Chiang AP, Morgan AA, Sarwal MM, 
					Pasricha PJ, Butte AJ. Computational repositioning of the anticonvulsant topiramate for inflammatory bowel disease. 
					Sci Transl Med. 2011 Aug 17;3(96):96ra76.
					</a></li>
				</ul>
			</div></div>
      </div>
    </div>
{% endblock %}