{% extends "base.html" %}
{% block title %}RepurposeDB | MIADRI{% endblock %}
{% block content %}
	<div class="container homepage">
    	<div class="container">
    	<h2>Minimum Information About Drug Repositioning Investigations - MIADRI</h2>
    	<hr>
    	<p>Drug repositioning offers a cost-effective, accelerated and effective strategy for 
    	pharmaceutical companies and discovery driven treatment options for patients. Focused 
    	clinical trials may be required to re-validate the use of repurposed indications. 
    	Ancillary techniques of repositioning including reformulation strategies (altered 
    	dosage, drug combinations, mode of delivery) can help to identify better therapeutic 
    	interventions for complex and orphan diseases alike. Repositioning investigations can 
    	also reveal serendipitous examples where a prior clinical, comorbidities, shared pathway, 
    	or other biological evidence does not exist. Such off-target or poly pharmacology drove 
    	results can be further perturbed using controlled experiments to understand shared disease 
    	pathways. The future outlook of drug repositioning is promising for patient communities, 
    	translational researchers and the pharmaceutical industry. Patient communities will 
    	greatly benefit from drug repositioning as it provides accelerated treatment strategies 
    	with limited side effects in a short period compared to the traditional drug development 
    	life cycle. Understanding clinical representations and their molecular phenotype is key 
    	for translational research and enabling precision medicine. Tracking the mechanism of 
    	actions for new indications could also help in understanding themolecular basis of genetic, 
    	complex, chronic or rare diseases. Pharmaceutical companies could leverage their large 
    	repertoires of public and private compound libraries in search of molecules that can provide 
    	better secondary indications and primary indications for rare diseases.  The absence of a 
    	common, community standard in reporting, aggregating, and dissemination data standard is 
    	hindering knowledge dissemination of drug repositioning and new therapeutic indications of 
    	existing pharmaceutical agents. We introduce Minimum Information About Drug Repositioning 
    	Investigations (MIADRI). MIADRI is a new standard for indexing, aggregation and meta-analyses 
    	of drug repositioning investigations. We are using MIADRI as a standard data submission and 
    	data-model to submit new drug repositioning investigations to RepurposeDB. We are actively 
    	developing MIADRI; please contact us if you have any feedback to improve the standard. You 
    	can use the MIADRI submission form below to submit your drug repositioning investigation. 
    	</p>
    	
		</div>
	</div>
{% endblock %}
