{% extends "base.html" %}
{% block title %}RepurposeDB | RxPRED{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/fileinput.min.css') }}">
{% endblock %}
{% block content %}

	<div class="container homepage">
    	<div class="container">
    	<h2>RxPRED</h2>
    	<hr>
    	{% if sdfFile %}
		<div class="row data-container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-lg"><!-- <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-centered well well-lg"> -->
				<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          			<iframe src="{{url_for('drugVisJSmol2')}}" height = "375" width = "375"></iframe>
          		</div>
          	</div>
        </div>
    	{% endif %}
    	<form class='myForm' action="{{url_for('RxPRED')}}" method="POST" enctype="multipart/form-data">
			 	{{ form.csrf_token }} 
				<div class="row data-container">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-lg"><!-- <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-centered well well-lg"> -->
					<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
						Please input a SMILE code or an SDF file: 
	                	<a id = 'example' {% if focusFileInput == 'True' %}style='display:none' {% endif %} role="button" onClick="addExample();">Example</a>
					{{form.sdfFile.error}}
					</div>
					<div id="input-file" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" {% if focusFileInput == 'False' %}style='display:none' {% endif %}>
						{{ render_field(form.sdfFile, class="form-control", id="input") }}
						<div id="errorBlock" class="help-block"></div>
					</div>
					<div id="input-text" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" {% if focusFileInput == 'True' %}style='display:none' {% endif %}>
						{{ render_field(form.smile, class="form-control", id="SMILE") }}
	               	</div>
	               	<div id = 'input-text-button' class="col-lg-3 col-md-3 col-sm-3 col-xs-12" {% if focusFileInput == 'False' %}style='display:none' {% endif %}>
	                	<button id="showTextInputButton" type="button" class="btn btn-default btn-block">Input SMILE</button>
	                </div>
					<div id = 'input-file-button' class="col-lg-3 col-md-3 col-sm-3 col-xs-12"{% if focusFileInput == 'True' %}style='display:none' {% endif %}>
	               		<button id="showFileInputButton" type="button" class="btn btn-default btn-block">Input .SDF</button>
	               	</div>
	               	<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
                		<input type=submit value="Run Query" class="btn btn-primary center-block more-margins">
					</div>
				</div>
				</div>
		</form>
		</div>
	</div>
<script type="text/javascript" src="{{url_for('static', filename='js/fileinput.min.js')}}"></script>
<script>
$("#input").fileinput({
    showPreview: false,
    allowedFileExtensions: ["sdf"],
    elErrorContainer: "#errorBlock",
    maxFileSize: 100,
    showUpload: false
    // you can configure `msgErrorClass` and `msgInvalidFileExtension` as well
});
function swap(one, two, three, four) {
    document.getElementById(one).style.display = 'none';
    document.getElementById(two).style.display = 'block';
    document.getElementById(three).style.display = 'block';
    document.getElementById(four).style.display = 'none';
}
document.getElementById('showTextInputButton').addEventListener('click',function(e){
    swap('input-file', 'input-file-button', 'input-text', 'input-text-button');
    document.getElementById('example').style.display = '';
    $('#SMILE').val('');
});
document.getElementById('showFileInputButton').addEventListener('click',function(e){
    swap('input-text', 'input-text-button', 'input-file', 'input-file-button');
    document.getElementById('example').style.display = 'none';
});
function addExample() {
	var newtext = "CCN1N=NN(CCN2CCC(COC)(CC2)N(C(=O)CC)C2=CC=CC=C2)C1=O DB00802";
    $('#SMILE').val(newtext);
}
</script>
{% endblock %}
