{% extends "base.html" %}
{% block title %}RepurposeDB | Search{% endblock %}
{% block content %}
    <div class="container homepage">
      	<div class="row">
      		<h2>Search RepurposeDB</h2>
      		<hr>
      		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	           	<form class="" action="{{url_for('search')}}" method="POST">
         			<div class="input-group" style="width:100%">
         				<input type="text" placeholder="ex. acetylcysteine..." class="form-control navSearch" style="width:100%; padding-right:0px;" name = "query">
				        <span class="input-group-btn" style="width:10%;">
				          <button class="btn btn-default" type="submit" style="width:100%;height:34px;"><span class="fa fa-search"></span></button>
				        </span>
         			</div>
	       		</form>
	       		{% if error %}
	       		<p style="color:red">"{{error}}" was not found in RepurposeDB</p>
	       		{% endif %}
       		</div>
         </div>
    </div>

{% endblock %}