{% extends "base.html" %}
{% block title %}RepurposeDB | Source Data{% endblock %}
{% block content %}
   <div class="container homepage">
      <div class="container">
          <font color="black"></font>
        <h2>Supplementary Data</h2>
            <hr>
              <p align=justify>
	        	<table class="table table-hover">
              	
              	<thead>
              		<tr>
	    				<th>Source</th>
	    				<th>Filename</th>
    				</tr>
  				</thead>
              	<tbody>
	            {% for x in range(supplementaryDataFilenames|length) %} 
	            	<tr>
	            		<td>{{supplementaryDataDisplayNames[x]}}</td>
						<td><a href="{{url_for('supplementaryData', file = supplementaryDataFilenames[x])}}">{{supplementaryDataFilenames[x]}}</a></td>
					</tr>
				{% endfor %}
				</tbody>
				</table>
			  </p>
      </div>
    </div>
{% endblock %}