{% extends "base.html" %}
{% block title %}RepurposeDB | Statistics{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-sortable.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-sortable.css') }}">
{% endblock %}
{% block content %}
   <div class="container homepage">
      <div class="container">
          <font color="black"></font>
        <h2>Statistics</h2>
              <hr>
              <p align=justify><font color=#58585a>
              </font></p>
              <table class="table sortable table-bordered table-hover" align = "justify">
              	
              	<thead>
              		<tr>
	    				<th>Version</th>
	    				<th>Medications</th>
	    				<th>Indications</th> 
	    				<th>Drug-indication(s) Triples</th>
	    				<th>Ontology Mappings</th>
    				</tr>
  				</thead>
              	<tbody>
	              	<tr>
	    				<td>1.0</td>
	    				<td>253</td>
	    				<td>1125</td> 
	    				<td>3660</td> 
	    				<td>36233</td>
	  				</tr>
  				</tbody>
              </table>

      </div>
    </div>
{% endblock %}