{% extends "base.html" %}
{% block title %}RepurposeDB | Contribute{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container homepage">
	<h2>Thank You for Contacting RepurposeDB</h2>
	<hr>
	<p>A Repurpose.db Curator will review your comment at the earliest available opportunity and take any necessary actions.</p>
</div>
{% endblock %}