{% extends "base.html" %}
{% block title %}RepurposeDB | Contribute{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container homepage">
	<h2>Thank You for Submitting to RepurposeDB!</h2>
	<hr>
	<p>A Repurpose.db Curator will review your submission at the earliest. After the approval,  we will 
	include your entry in the next release of RepurposeDB. We have sent you a confirmation email; please 
	contact us at the earliest on repurposedb@dudleylab.org if you didn't receive it.</p>
</div>
{% endblock %}