{% extends "base.html" %}
{% block title %}RepurposeDB | Not Yet Available{% endblock %}
{% block content %}
<div class="container homepage">
        <h2>Unknown URL</h2>
        <hr>
      		<p align=center>If you entered a url manually, please check your spelling</p>
    </div>
{% endblock %}